.container_vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-grayish-blue);
    border-radius: .5rem;
}

.vote_plus,
.vote_minus {
    border: unset;
    background-color: unset;
    padding: unset;
    transition: opacity .125s ease-in-out;
}

.vote_score {
    font-family: var(--ff);
    font-weight: var(--fw-bold);
}

@media screen and (min-width: 768px) {
    .container_vote {
        min-width: 10rem;
    }

    .vote_minus:hover,
    .vote_plus:hover {
        cursor: pointer;
        opacity: 50%;
    }
}