.carousel {
    display: grid;
    row-gap: 2rem;
}

.main_content {
    position: relative;
}

.main_pictures {
    padding: unset;
    list-style: none;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    pointer-events: none;
}

.main_pictures::-webkit-scrollbar {
    display: none;
}

.main_pictures li {
    flex: 0 0 100%;
}

.previous_button,
.next_button {
    background-color: var(--white);
    border-radius: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-block: auto;
    height: fit-content;
    aspect-ratio: 1/1;
    width: 2.5rem;
    display: grid;
    place-content: center;
}

.previous_button img,
.next_button img {
    max-height: .875rem;
}

.previous_button {
    left: 1rem;
}

.next_button {
    right: 1rem;
}

.flexed_pictures {
    padding: unset;
    list-style: none;
    /*display: flex;*/
    display: none;
}

@media screen and (min-width: 768px) {
    .carousel {
        flex: 1;
    }

    .previous_button,
    .next_button {
        display: none;
    }

    .main_pictures {
        border-radius: 1rem;
        pointer-events: unset;
    }

    .flexed_pictures {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
    }

    .flexed_pictures li {
        border-radius: 1rem;
        overflow: hidden;
        max-width: 6rem;
    }

    .picture_active {
        border: 2px solid var(--orange);
    }

    .picture_active img {
        opacity: 50%;
    }

    .lightbox .previous_button,
    .lightbox .next_button {
        display: grid;
    }
}