.nav {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_wrapper {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.right_wrapper {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.avatar_picture {
    max-width: 1.5rem;
    border-radius: 100vw;
    border: 2px solid transparent;
}

@media screen and (min-width: 768px) {
    .nav {
        padding: 0;
        margin-inline: clamp(1rem, 13.521vw - 2.169rem, 10rem);
        border-block-end: 1px solid var(--light-grayish-blue);
    }

    .left_wrapper {
        flex-direction: row-reverse;
        gap: clamp(1rem, 3.756vw + 0.12rem, 3.5rem);
    }

    .right_wrapper {
        align-items: center;
        gap: clamp(1rem, 3.005vw + 0.296rem, 3rem);
    }

    .avatar_picture {
        max-width: 3rem;
        transition: all .25s ease-in-out;
    }

    .avatar_picture:hover {
        cursor: pointer;
        border-color: var(--orange);
    }

    .main {
        padding-block: 5.625rem;
        padding-inline: clamp(1rem, 4.762vw - 1.286rem, 3rem);
        margin-inline: clamp(1rem, 13.521vw - 2.169rem, 10rem);
        display: grid;
        grid-template-columns: repeat(2, minmax(0rem, 27.75rem));
        place-content: center;
        align-items: center;
        column-gap: clamp(1rem, 16.667vw - 7rem, 8rem);
    }

    .dark_layer {
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: all;
        z-index: 2;
        /* Animation  */

        display: grid;
        place-content: center;
    }

    .carousel_close_icon {
        width: 1.25rem;
        filter: brightness(0) invert(1);
        margin-block: 1.5rem;
        margin-left: auto;
        cursor: pointer;
    }
}